body{
    margin: 0;
}
header {
    padding: 8px 60px;
    background-color: rgb(30, 93, 187);
    border-bottom: 3px solid blue;
    
    
}
header div {
    color: #fff/*rgb(49, 174, 231)*/;
    font-size: 40px;
    text-shadow: 8px 8px 10px black;
}
section{
    /* background-color: rgb(88, 155, 185); */
    /* height: 100vh; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 40px;
    /* flex-direction: column; */
    margin-bottom: 50px;
}
/* nav .shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
} */
/* nav form{
    display: flex;
}  */

section input{
    width: 400px;
    height: 40px;
    border: blue 3px solid;
    /* box-shadow: 3px 3px 10px black; */
}

section button {
    height: 48px;
    width: 100px;
    background-color: rgb(61, 109, 240);
    border: blue 3px solid;
    color: #fff;
    font-size: 24px;
    /* box-shadow: 0px 3px 10px black; */
    
}
#list {
    display: flex;
    align-items: center;
    flex-direction: column;
}
 #list div 
{
    background-color:white;
    border: 2px solid blue;
    width: 400px;
     height: 30px; 
    display:flex;
    align-items: center; 
    padding: 10px;
    box-shadow: 4px 4px 3px grey;
    display: flex;
    justify-content: space-between;
    
}
#list div p {
    font-size: 18px;
    font-weight: bold;
}
#list div i {
    font-size: 24px;
    color: red;
    cursor: pointer;
}
