body{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background: url("./Mount.jpg") no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Architects Daughter', cursive;
}
.shadow {
    position: absolute;
    top: 0; 
    width: 100%; 
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}
.container_todolist {
    width: 50%;
    /* border: 5px solid blue; */
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
}
header {
    padding: 2px 60px;
    background-color: rgba(30, 93, 187,0.6);
    border-bottom: 3px solid blue;
    display: flex;
    justify-content: center;
    
    
}
header div {
    color: #fff/*rgb(49, 174, 231)*/;
    font-size: 50px;
    text-shadow: 6px 6px 7px black;
}
section{
    /* background-color: rgb(88, 155, 185); */
    /* height: 100vh; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 40px;
    /* flex-direction: column; */
    margin-bottom: 50px;
}
/* sectin .shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
} */
 section form{
   height: 40px;
}  

section form input{
    width: 700px;
    height: 100%;
    /* border: blue 3px solid; */
    outline: none;
    vertical-align: middle;
    background-color: rgba(247, 247, 247,0.6);
    font-size: 30px;
    /* box-shadow: 3px 3px 10px black; */
}

section form button {
    height: 100%;
    background-color: rgb(61, 109, 240);
    border: blue 3px solid;
    /* padding: 2px 5px; */
    color: #fff;
    font-size: 30px; 
    vertical-align: middle;
    cursor: pointer;
    /* box-shadow: 0px 3px 10px black; */
    
}
/******************************************************************************/
.status_btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}
.status_btn button{
    font-size: 24px;
    color: #fff;
    box-shadow: 3px 3px 6px black;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    transition: ease-out 0.3s;
}
.status_btn button:nth-child(1){
    background-color: blue;
}
.status_btn button:nth-child(1):hover{
    background-color: #fff;
    color: blue;
}
.status_btn button:nth-child(2){
    background-color: red;
}
.status_btn button:nth-child(2):hover{
    background-color: #fff;
    color: red;
}
.status_btn button:nth-child(3){
    background-color: purple;
}
.status_btn button:nth-child(3):hover{
    background-color: #fff;
    color: purple;
}
/************************************************************************/
#list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    font-size: 28px;
}
 #list #list_container
{
    background-color:white;
    border: 2px solid blue;
    width: 800px;
    height: 30px;  
    display:flex;
    align-items: center; 
    padding: 10px;
    box-shadow: 4px 4px 3px grey;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 20px;
    /* overflow: hidden; */
    
}

#list #list_container:hover .remove {
    display: flex;
    right: 0px;
    align-items: center;
    padding: 0 12px;
}
#list #list_container div {
    font-weight: bold;
    /* text-shadow: 5px 5px 3px gray; */
}
#list #list_container .remove {
    /* color: red; */
    cursor: pointer;
    position: absolute;
    right: -45px;
    display: none;
    background-color: red;
    color: #fff;
    /* padding:14px; */
    height: 100%;
    transition: all ease 3s;
}
#list #list_container .modification {
    /* background-color: blue; */
    /* color: #fff; */
    /* padding: 100% 15px; */
    cursor: pointer;

}
.modification_plus {
    /* font-size: 24px; */
    cursor: pointer;
    color: #fff;
    background-color: rgb(61, 109, 240);
    padding: 5px;
    vertical-align: middle;
    font-size: 18px;

}
.status_list_container{
    display: flex;
    align-items: center;
    /* position: relative; */
}
.status_list_container .status_list {
    /* background-color: red; */
    color: #fff;
    /* padding: 1.2px; */
    position: absolute;
    bottom: -160px;
    z-index: 3;
    display: flex;
    justify-content: center;
}
.status_list_container .status_list ul {
    list-style-type: none;
}
.status_list_container .status_list ul button {
    color: #fff;
    background-color: rgb(61, 109, 240);
    padding: 3px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.status_list_container .status_list ul button:hover {
    color: rgb(61, 109, 240);
    background-color: #fff;
}

