body{
    margin: 0;
}
header {
    padding: 8px 60px;
    border-bottom: 3px solid black;
    
}
header div {
    color: rgb(49, 174, 231);
    font-size: 40px;
}
nav{
    height: 100vh;
    background-color: rgb(103, 103, 221);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 40px;
}
nav form{
    display: flex;
}
nav input{
    width: 400px;
    height: 35px;
}
nav button {
    height: 40px;
    background-color: rgb(0, 204, 255);
    color: #fff;
    padding: 15px 30PX;
}