body{
    margin: 0;
}
header {
    padding: 8px 60px;
    border-bottom: 3px solid black;
    
}
header div {
    color: blue;
    font-size: 40px;
}
nav{
    height: 100vh;
    background-color: rgb(104, 160, 245);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 40px;
}
nav form{
    display: flex;
    
} 

nav input{
    width: 400px;
    height: 40px;
    /* box-shadow: 3px 3px 10px black; */
}

nav button {
    height: 40px;
    width: 100px;
    background-color: blue;
    color: #fff;
    font-size: 24px;
    /* box-shadow: 0px 3px 10px black; */
    
}